body {
    padding: 0;
	font-family: Menlo;
	color: white;
	margin: 0% 10% 0% 10%;
	background-color: #8AA9FE;
}

.logo {
	background-color: BlanchedAlmond;
	text-align: center;
	height: auto;
	max-height: auto;
	max-width: auto;
	width: auto;
}

#site-logo {
	height: auto;
	width: auto;
	max-height: 600px;
	max-width: 600px;

}

.about {
	background-color: #000000;
	padding: 1%;
	font-size: 14px;
	line-height: 25px;
	text-align: left;
}
								


.header {
	text-transform: uppercase;
	margin: 5% 10% 0% 10%;
    padding: 2%;
	color: white;
	text-align: center;
	letter-spacing: 5px;
}

.header a {
    color: white;
	text-decoration-line: None;
}

hr {
	color: black;
	color: red;
}

nav ul {
	margin: 0;
    padding: 0;
    display: flex;
    padding: 5px 0px 4px;
    justify-content: space-between;
	text-align: center;
}

ul li {
	list-style-type: None;
	letter-spacing: 2px;
    margin: 1.6em 60px;
}

.social-media li {
    font-size: 10px;
}

nav a {
	/* Adding style to links in the navigation tag*/
	color: white;
	text-decoration-line: None;
}

a:hover { 
	/* Adding style when user's mouse hovers over the link*/
	text-transform: uppercase;
	border-radius: 4px;
	cursor: pointers;
	color:  #000000;
}

article {
    margin: 10px 40px 10px 40px;
    background-color: black;
}
article p {
    margin: 10px 10% 10px 10%;
    font-size: 14px;
    line-height: 20px;
    padding: 1%;
}





